.cards-preview .img-container{
    flex-basis:50%;
}

.primary-text{
    color:var(--primary-color)
}

.secondary-text{
    color:var(--secondary-color)
}

.footer {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.absolute-footer{
    position: absolute;
    bottom:0;
    width:100%;
}