.cards-preview,.card-container .img-container{
    flex-basis:50%;
}

.card-container img{
    height: 100%;
}

#quantity{
    width: 2rem;
    margin-left:5px;
}

.primary-text{
    color:var(--primary-color)
}

.secondary-text{
    color:var(--secondary-color)
}

.price{
    border:1px solid black
}

.footer {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.side-bar {
    border:1px solid black;
    flex-basis:15rem;
} 

.radio-btn {
    height:1.25rem;
    width:1.25rem;
}

.abosulute-footer{
    position: absolute;
    bottom:0;
    width:100%;
}

.auth-wrapper{
    height:100%
}

.auth-container{
    width:30%
}

a{
    color:white
}