
.cards-preview,.card-container .img-container{
    flex-basis:50%;
}

.primary-text {
    color:var(--primary-color)
}

.secondary-text {
    color:var(--secondary-color)
}

.footer {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.side-bar {
    border:1px solid black;
    flex-basis:15rem;
} 

.radio-btn {
    height:1.25rem;
    width:1.25rem;
}