.cards-preview,.card-container .img-container{
    flex-basis:50%;
}

.card-container img{
    height: 100%;
}

#quantity{
    width: 2rem;
    margin-left:5px;
}

.primary-text{
    color:var(--primary-color)
}

.secondary-text{
    color:var(--secondary-color)
}

.price{
    border:1px solid black
}

.footer {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.zero-bottom{
    position: fixed;
    bottom: 0;
}